//colors
$standardColorBlack: #222222;
$standardColorWhite: #f8f8f8;
$standardColorGold: #e2b339;

//fonts
@font-face {
    font-family: 'GaramondBE-SwashItalic';
    src: url('../fonts/GaramondBE-SwashItalic.ttf');
}
$standardTextFontFamily: 'Average', serif;
$standardHeadlineFontFamily: 'Fjalla One', sans-serif;
$standardFontFamily: 'Lato', sans-serif;
$cursiveFontFamily: 'Courgette', cursive;
$mhLogoFontFamily: 'GaramondBE-SwashItalic';

// commonly used variables
$navBarHeight: 112px;
$footerHeight: 206.71px;
//media query specific css
@import 'mediaQueries';
//responsive font-sizes
@import 'responsiveFontSizes';
//global reset
* {
    margin: 0;
    padding: 0;
}

body {
    p, a, h1, h2, h3, h4, h5, h6, li {
        font-family: $standardFontFamily;
    }
    // background-color: $standardColorBlack;
    background-color: $standardColorWhite;
}

// ========================== Nav Bar =========================== //
#menuStartseiteLink:hover {
    text-decoration: none;
}
#navigationHeader {
    height: 60px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: $standardColorBlack;
    margin-bottom: 0;
    border-bottom: 2px solid black;
    z-index: 5;
    .logoMH {
        height: 60px;
        padding-top: 0;
        padding-bottom: 0;
        h1 {
            font-family: $mhLogoFontFamily;
            line-height: 60px;
            margin: 0;
            color: $standardColorGold;
        }
    }
    .logoShop {
        height: 60px;
        padding-right: 0;
        padding-left: 0;
        #shopButton {
            height: 40px;
            margin: 10px 0 0 0;
            padding: 5px;
            background-color: $standardColorGold;
            border: none;
            border-radius: 4px 0 0 4px;
            h1 {
                font-size: 20px;
                line-height: 30px;
                margin: 0;
                padding: 0;
                color: $standardColorBlack;
            }
        }
        #iconShop {
            height: 40px;
            padding: 5px 5px 5px 0;
            margin-top: 10px;
            width: auto;
            background-color: $standardColorGold;
            border-radius: 0 4px 4px 0;
        }
        #iconShop:hover {
            cursor: pointer;
        }

        #linkUk, #linkAustria {
            height: 30px;
            margin: 15px 10px 0 0;
        }

        #linkUk :hover, #linkAustria :hover {
            height: 35px;
            margin: -2.5px 0 0 0;
        }

        #iconUk, #iconAustria {
            height: 100%;
            width: auto;
        }

    }
}

#navBar {
    top: 60px;
    border-bottom: 2px solid $standardColorGold;
    border-radius: 0 0 0 0;
    margin-bottom: 0;
    z-index: 5;
}

#navBarUl {
    .active {
        a {
            color: $standardColorGold;
            background: transparent;
        }
    }
    li {
        a {
            color: $standardColorWhite;
            transition: all 0.3s ease;
        }
        a:hover {
            color: $standardColorGold;
        }
    }
}

.navbar-brand {
    font-family: $mhLogoFontFamily;
    color: $standardColorGold !important;
}

// ========================== Footer =========================== //
.footer {
    background-color: $standardColorBlack;
    padding-bottom: 10px;
    .nav-tabs {
        a {
            padding: 10px;
        }
    }
    .tab-pane {
        a {
            border: none !important;
        }
    }
    h4 {
        text-align: center;
    }
    p {
        color: $standardColorWhite;
    }
    //social media icons
    .iconFooter {
        width: 25px;
        height: 25px;
        float: left;
    }
    #icon_facebook {
        background-image: url(../image/icon_facebook.png);
        background-size: cover;
    }
    #icon_instagram {
        background-image: url(../image/icon_instagram2.png);
        background-size: cover;
    }
    #icon_youtube {
        background-image: url(../image/icon_youtube.png);
        background-position: center;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }
    .iconTextFooter {
        line-height: 25px;
        float: left;
    }
    .footer3container {
        width: 100%;
        height: 25px;
        margin-bottom: 10px;
    }
}
// footer desktop
#footer {
    h4 {
        color: $standardColorWhite;
        padding-bottom: 10px;
        border-bottom: 2px solid $standardColorGold;
    }
    .linkFooter {
        color: $standardColorGold;
        font-size: 15px;
    }
    #mailtoLinkFooter {
        color: $standardColorGold;
    }
    #footercol2Container1 {
        margin-top: 18px;
    }
    #footercol3Container1 {
        margin-top: 15px;
    }
}
// footer mobile
#footerMobile {
    min-height: 200px;
    h4 {
        color: $standardColorWhite;
    }
    a {
        color: $standardColorWhite;
    }
    a:hover {
        color: $standardColorGold;
        border: none;
        background-color: transparent;
    }
    #nav-tabs {
        border-bottom: 2px solid $standardColorGold;
        a {
            border-radius: 0 0 0 0;
        }
    }
    .tab-pane {
        padding-top: 10px;
    }
    .active {
        a {
            background-color: $standardColorGold !important;
            border: 2px solid $standardColorGold;
        }
        a:hover {
            color: $standardColorWhite;
        }
        .linkFooter {
            background-color: transparent !important;
            border: none !important;
            color: $standardColorGold;
            line-height: 200%;
        }
    }
    .linkFooter {
        background-color: transparent !important;
    }
    #mailtoLinkFooter {
        color: $standardColorGold;
        background-color: $standardColorBlack !important;
        border: none;
    }
}

// ========================== Index =========================== //

// Aktuelles Headline
.headline {
    background: $standardColorBlack;
    height: 5vh;
    h1 {
        width: auto;
        text-align: center;
        font-size: 3vh;
        line-height: 5vh;
        color: $standardColorWhite;
        margin: 0;
    }
}
.headlineBorderTop {
    height: 3px;
    background-color: $standardColorBlack;
    margin-bottom: 3px;
}
.headlineBorderBottom {
    height: 3px;
    background-color: $standardColorBlack;
    margin-top: 3px;
    margin-bottom: 3vh;
}
// ======================= Cards ======================== //
.card {
    background-color: $standardColorWhite;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    .cardImageContainer {
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .cardHeadline {
        width: 100%;
        text-align: center;
        position: relative;
        background-color: $standardColorWhite;
        border-bottom: 1px solid $standardColorBlack;
        h1 {
            color: $standardColorBlack;
            margin: 0;
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
        }
    }
    .cardText {
        width: 100%;
        padding: 20px;
        background-color: $standardColorWhite;
        overflow: hidden;
        h1 {
            margin-top: 0;
            font-family: $standardHeadlineFontFamily;
        }
        p {
            font-family: $standardTextFontFamily;
        }
        a {
            font-family: $standardTextFontFamily;
            text-decoration: none;
            color: $standardColorGold;
        }
        a:hover {
            text-decoration: underline;
        }
        h2, h3, h4, h5 {
            font-family: $standardTextFontFamily;
        }
    }
}
// ======================= Partner Cards ======================== //
#headlinePartner {
    margin-top: $navBarHeight;
}
.cardPartner {
    background-color: $standardColorWhite;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    .cardPartnerImageContainer {
        background-size: cover;
        background-position: center;
    }
    .cardPartnerText {
        padding: 20px;
        background-color: $standardColorWhite;
        overflow: hidden;
        h1 {
            margin-top: 0;
            font-family: $standardHeadlineFontFamily;
        }
        p {
            font-family: $standardTextFontFamily;
        }
        a {
            color: $standardColorGold;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

// ======================= Title images ======================== //
.titleImageContainer {
    height: calc(100vh - #{$navBarHeight});
    margin-top: $navBarHeight;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.iconDown {
    bottom: 5vh;
    z-index: 3;
    left: 50%;
    margin-left: -7.5vh;
    position: absolute;
    background-image: url(../image/direction_white.png);
    background-size: cover;
    transition: all 0.3s ease;
}

.iconDown:hover {
    background-image: url(../image/direction_gold.png);
}

#cardContainer {
    padding-top: 3vh;
}

// ========================== ANFAHRT =========================== //
#gmap0-map-canvas {
    width: 100% !important;
    height: calc(100vh - #{$navBarHeight}) !important;
    margin-top: $navBarHeight;
}

// ========================== Footer Anfahrt =========================== //

// footer desktop
#footerAnfahrt {
    h4 {
        color: $standardColorWhite;
        padding-bottom: 10px;
        border-bottom: 2px solid $standardColorGold;
    }
    p {

    }
    .linkFooter {
        color: $standardColorGold;
        font-size: 15px;
    }
    #mailtoLinkFooter {
        color: $standardColorGold;
    }
    #footercol2Container1 {
        margin-top: 18px;
    }
    #footercol3Container1 {
        margin-top: 15px;
    }
}
// footer mobile
#footerAnfahrtMobile {
    height: auto;
    h4 {
        color: $standardColorWhite;
    }
    a {
        color: $standardColorWhite;
    }
    a:hover {
        color: $standardColorGold;
        border: none;
        background-color: transparent;
    }
    p {
        line-height: 100%;
    }
    #nav-tabs {
        border-bottom: 2px solid $standardColorGold;
        a {
            border-radius: 0 0 0 0;
        }
    }
    .tab-pane {
        padding-top: 15px;
    }
    .active {
        a {
            background-color: $standardColorGold !important;
            border: 2px solid $standardColorGold;
        }
        a:hover {
            color: $standardColorWhite;
        }
        .linkFooter {
            background-color: transparent !important;
            border: none !important;
            color: $standardColorGold;
        }
    }
    .linkFooter {
        background-color: transparent !important;
    }
    #mailtoLinkFooter {
        color: $standardColorGold;
        background-color: $standardColorBlack !important;
        border: none;
    }
}

// ========================== HEURIGER =========================== //
#myGallery {
    height: 35vh;
    width: 100%;
    margin-top: $navBarHeight;
    overflow:hidden;
    a {
        margin-right: -3px;
    }
}
.galleryContainer {
    width: auto;
    white-space: nowrap;
    background-color: $standardColorBlack;
    .gallery-item {
        img {
            display: inline-block;
            width: auto;
            height: 35vh;
            margin-bottom: 4px;

            padding: 0;
        }
    }
}
#titleImageHeuriger {
    display: none;
}
.openingHours {
    padding-bottom: 10px;
    border-bottom: 1px solid $standardColorGold;
    text-align: center;
    a {
        color: $standardColorGold;
    }
    a:hover {

    }
    h1 {
        color: $standardColorGold;
        font-family: $standardHeadlineFontFamily;
    }
    p  {
        line-height: 100%;
        font-family: $standardTextFontFamily;
    }
}
#openHoursEnglish {
    margin-top: calc(#{$navBarHeight} + 20px);
}
// ========================== Newsletter =========================== //
#containerNewsletter {
    margin-top: $navBarHeight;
    min-height: calc(100vh - #{$navBarHeight} - #{$footerHeight});
}
#newsletterSubmit {
    background-color: $standardColorGold;
    color: black;
    border: none;
}
#newsletterSubmit:hover {
        color: white;
}

#contentNewsletter {
    h1 {
        font-family: $standardHeadlineFontFamily;
    }
    a {
        color: $standardColorGold;
        font-family: $standardTextFontFamily;
    }
    p {
        margin-top: 20px;
        font-family: $standardTextFontFamily;
    }
}

.field-antiSpamField {
    display: none;
}
// ======================== ALLGEMEIN =============================== //
.textContent {
    width: 100%;
    min-height: calc(100vh - #{$navBarHeight} - 35vh - #{$footerHeight});
    background-color: $standardColorWhite;
    margin: 20px 0 20px 0;
    h1 {
        font-size: 24px;
        margin: 0 0 10px 0;
        color: $standardColorBlack;
        font-family: $standardHeadlineFontFamily;
    }
    p {
        font-size: 16px;
        margin: 0;
        font-family: $standardTextFontFamily;
        color: $standardColorBlack;
    }
    a {
        text-decoration: none;
        color: $standardColorGold;
    }
    a:hover {
        text-decoration: underline;
        color: $standardColorGold;
    }
    ul {
        margin-left: 15px;
    }
}

#textContentImpressum {
    margin-top: 0;
    font-family: $standardTextFontFamily;
}

// ======================== ENGLISH =============================== //
.imageContainerEnglish {
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
    background-image: url(../image/uploads/startseite/img_1531.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}

#imageEnglish1, #imageEnglish2 {
    margin-top: 0;
}

#imageEnglish1 {
    background-image: url(../image/uploads/english/noegold.jpg);
}
#imageEnglish2 {
    background-image: url(../image/uploads/english/topheurigensieger.jpg);
}
#imageEnglish3 {
    background-image: url(../image/uploads/english/hagelkreuz.jpg);
}
#imageEnglish4 {
    background-image: url(../image/uploads/english/rosenberg.jpg);
}
#imageEnglish5 {
    background-image: url(../image/uploads/english/keller.jpg);
}
#imageEnglish6 {
    background-image: url(../image/uploads/english/fuellanlage1.jpg);
}
#imageEnglish7 {
    background-image: url(../image/uploads/english/mayers.jpg);
}
#imageEnglish8 {
    background-image: url(../image/uploads/english/mayeringrid.jpg);
}

#textContentEnglish {
    h2 {
        font-family: $standardTextFontFamily;
        font-weight: bold;
    }
    min-height: calc(100vh - 80px - #{$footerHeight});
    font-family: $standardTextFontFamily;
}

.textEditor {
    margin-top: 500px;
}

.form-group {
    margin: 0 !important;
    padding: 0;
}