@font-face {
  font-family: 'GaramondBE-SwashItalic';
  src: url("../fonts/GaramondBE-SwashItalic.ttf"); }
@media (min-width: 768px) and (max-width: 1000px) {
  .collapse {
    display: none !important; } }
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .openingHours a {
    font-size: 16px; }
  .openingHours p {
    font-size: 14px;
    line-height: 100%; }

  .iconDown {
    height: 10vh;
    width: 10vh; }

  .card {
    height: auto;
    margin: 0 auto 6vh auto; }
    .card .cardImageContainer {
      padding-top: 66.66%; }
    .card .cardText {
      height: 34vh; }

  .cardPartner {
    height: auto;
    overflow: auto;
    margin: 0 auto 6vh auto; }
    .cardPartner .cardPartnerImage {
      height: auto;
      width: 100%;
      display: block; }

  #linkUk, #linkAustria {
    float: left; }

  #textContentEnglish h1 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px; }
  #textContentEnglish h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px; }

  .colEnglish1 {
    padding: 0; }

  .colEnglish2 {
    padding: 0; } }
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .openingHours a {
    font-size: 20px; }
  .openingHours p {
    font-size: 18px;
    line-height: 100%; }

  .iconDown {
    height: 7vh;
    width: 7vh; }

  .card {
    height: auto;
    margin: 0 auto 4vh auto; }
    .card .cardImageContainer {
      padding-top: 66.66%; }
    .card .cardText {
      height: 34vh; }

  .cardPartner {
    height: auto;
    margin: 0 auto 4vh auto; }
    .cardPartner .cardPartnerImage {
      height: auto;
      width: 50%;
      float: left;
      display: block; }

  #linkUk, #linkAustria {
    float: right; }

  .navbar-brand {
    display: none !important; }

  .footer {
    border-top: 2px solid #e2b339; }
    .footer h4 {
      font-size: 17px; }
    .footer p a {
      font-size: 15px !important;
      line-height: 170%;
      margin: 0; }

  #gmap0-map-canvas {
    width: 100% !important; }

  #textContentEnglish h1 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px; }
  #textContentEnglish h2 {
    font-size: 18px;
    margin-bottom: 10px; }

  #imageEnglishPride2 {
    background-size: cover;
    background-position: center;
    margin-top: 0; }

  .colEnglish1 {
    padding-left: 0;
    padding-right: 15px; }

  .colEnglish2 {
    padding-left: 15px;
    padding-right: 0; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .footer h4 {
    font-size: 20px; }
  .footer p, .footer a {
    font-size: 16px !important;
    line-height: 180%;
    margin: 0; }
  .footer #openingHoursEnglish p {
    font-size: 13px !important; } }
/* Large Devices, Wide Screens */
/* only for the navbar since the breakpoint got changed manually */
html {
  line-height: 1.2 !important;
  font-size: 1em; }
  @media (max-width: 1024px) {
    html {
      font-size: 0.9375em; } }
  @media (max-width: 640px) {
    html {
      font-size: 0.875em; } }
  @media (max-width: 480px) {
    html {
      font-size: 0.8125em; } }

h1 {
  font-size: 1.625em; }

h2 {
  font-size: 1.5em; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #f8f8f8; }
  body p, body a, body h1, body h2, body h3, body h4, body h5, body h6, body li {
    font-family: "Lato", sans-serif; }

#menuStartseiteLink:hover {
  text-decoration: none; }

#navigationHeader {
  height: 60px;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #222222;
  margin-bottom: 0;
  border-bottom: 2px solid black;
  z-index: 5; }
  #navigationHeader .logoMH {
    height: 60px;
    padding-top: 0;
    padding-bottom: 0; }
    #navigationHeader .logoMH h1 {
      font-family: "GaramondBE-SwashItalic";
      line-height: 60px;
      margin: 0;
      color: #e2b339; }
  #navigationHeader .logoShop {
    height: 60px;
    padding-right: 0;
    padding-left: 0; }
    #navigationHeader .logoShop #shopButton {
      height: 40px;
      margin: 10px 0 0 0;
      padding: 5px;
      background-color: #e2b339;
      border: none;
      border-radius: 4px 0 0 4px; }
      #navigationHeader .logoShop #shopButton h1 {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        padding: 0;
        color: #222222; }
    #navigationHeader .logoShop #iconShop {
      height: 40px;
      padding: 5px 5px 5px 0;
      margin-top: 10px;
      width: auto;
      background-color: #e2b339;
      border-radius: 0 4px 4px 0; }
    #navigationHeader .logoShop #iconShop:hover {
      cursor: pointer; }
    #navigationHeader .logoShop #linkUk, #navigationHeader .logoShop #linkAustria {
      height: 30px;
      margin: 15px 10px 0 0; }
    #navigationHeader .logoShop #linkUk :hover, #navigationHeader .logoShop #linkAustria :hover {
      height: 35px;
      margin: -2.5px 0 0 0; }
    #navigationHeader .logoShop #iconUk, #navigationHeader .logoShop #iconAustria {
      height: 100%;
      width: auto; }

#navBar {
  top: 60px;
  border-bottom: 2px solid #e2b339;
  border-radius: 0 0 0 0;
  margin-bottom: 0;
  z-index: 5; }

#navBarUl .active a {
  color: #e2b339;
  background: transparent; }
#navBarUl li a {
  color: #f8f8f8;
  transition: all 0.3s ease; }
#navBarUl li a:hover {
  color: #e2b339; }

.navbar-brand {
  font-family: "GaramondBE-SwashItalic";
  color: #e2b339 !important; }

.footer {
  background-color: #222222;
  padding-bottom: 10px; }
  .footer .nav-tabs a {
    padding: 10px; }
  .footer .tab-pane a {
    border: none !important; }
  .footer h4 {
    text-align: center; }
  .footer p {
    color: #f8f8f8; }
  .footer .iconFooter {
    width: 25px;
    height: 25px;
    float: left; }
  .footer #icon_facebook {
    background-image: url(../image/icon_facebook.png);
    background-size: cover; }
  .footer #icon_instagram {
    background-image: url(../image/icon_instagram2.png);
    background-size: cover; }
  .footer #icon_youtube {
    background-image: url(../image/icon_youtube.png);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat; }
  .footer .iconTextFooter {
    line-height: 25px;
    float: left; }
  .footer .footer3container {
    width: 100%;
    height: 25px;
    margin-bottom: 10px; }

#footer h4 {
  color: #f8f8f8;
  padding-bottom: 10px;
  border-bottom: 2px solid #e2b339; }
#footer .linkFooter {
  color: #e2b339;
  font-size: 15px; }
#footer #mailtoLinkFooter {
  color: #e2b339; }
#footer #footercol2Container1 {
  margin-top: 18px; }
#footer #footercol3Container1 {
  margin-top: 15px; }

#footerMobile {
  min-height: 200px; }
  #footerMobile h4 {
    color: #f8f8f8; }
  #footerMobile a {
    color: #f8f8f8; }
  #footerMobile a:hover {
    color: #e2b339;
    border: none;
    background-color: transparent; }
  #footerMobile #nav-tabs {
    border-bottom: 2px solid #e2b339; }
    #footerMobile #nav-tabs a {
      border-radius: 0 0 0 0; }
  #footerMobile .tab-pane {
    padding-top: 10px; }
  #footerMobile .active a {
    background-color: #e2b339 !important;
    border: 2px solid #e2b339; }
  #footerMobile .active a:hover {
    color: #f8f8f8; }
  #footerMobile .active .linkFooter {
    background-color: transparent !important;
    border: none !important;
    color: #e2b339;
    line-height: 200%; }
  #footerMobile .linkFooter {
    background-color: transparent !important; }
  #footerMobile #mailtoLinkFooter {
    color: #e2b339;
    background-color: #222222 !important;
    border: none; }

.headline {
  background: #222222;
  height: 5vh; }
  .headline h1 {
    width: auto;
    text-align: center;
    font-size: 3vh;
    line-height: 5vh;
    color: #f8f8f8;
    margin: 0; }

.headlineBorderTop {
  height: 3px;
  background-color: #222222;
  margin-bottom: 3px; }

.headlineBorderBottom {
  height: 3px;
  background-color: #222222;
  margin-top: 3px;
  margin-bottom: 3vh; }

.card {
  background-color: #f8f8f8;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .card .cardImageContainer {
    width: 100%;
    background-size: cover;
    background-position: center; }
  .card .cardHeadline {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #f8f8f8;
    border-bottom: 1px solid #222222; }
    .card .cardHeadline h1 {
      color: #222222;
      margin: 0;
      font-size: 20px;
      font-family: 'Josefin Sans', sans-serif; }
  .card .cardText {
    width: 100%;
    padding: 20px;
    background-color: #f8f8f8;
    overflow: hidden; }
    .card .cardText h1 {
      margin-top: 0;
      font-family: "Fjalla One", sans-serif; }
    .card .cardText p {
      font-family: "Average", serif; }
    .card .cardText a {
      font-family: "Average", serif;
      text-decoration: none;
      color: #e2b339; }
    .card .cardText a:hover {
      text-decoration: underline; }
    .card .cardText h2, .card .cardText h3, .card .cardText h4, .card .cardText h5 {
      font-family: "Average", serif; }

#headlinePartner {
  margin-top: 112px; }

.cardPartner {
  background-color: #f8f8f8;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  .cardPartner .cardPartnerImageContainer {
    background-size: cover;
    background-position: center; }
  .cardPartner .cardPartnerText {
    padding: 20px;
    background-color: #f8f8f8;
    overflow: hidden; }
    .cardPartner .cardPartnerText h1 {
      margin-top: 0;
      font-family: "Fjalla One", sans-serif; }
    .cardPartner .cardPartnerText p {
      font-family: "Average", serif; }
    .cardPartner .cardPartnerText a {
      color: #e2b339;
      text-decoration: none; }
    .cardPartner .cardPartnerText a:hover {
      text-decoration: underline; }

.titleImageContainer {
  height: calc(100vh - 112px);
  margin-top: 112px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center; }

.iconDown {
  bottom: 5vh;
  z-index: 3;
  left: 50%;
  margin-left: -7.5vh;
  position: absolute;
  background-image: url(../image/direction_white.png);
  background-size: cover;
  transition: all 0.3s ease; }

.iconDown:hover {
  background-image: url(../image/direction_gold.png); }

#cardContainer {
  padding-top: 3vh; }

#gmap0-map-canvas {
  width: 100% !important;
  height: calc(100vh - 112px) !important;
  margin-top: 112px; }

#footerAnfahrt h4 {
  color: #f8f8f8;
  padding-bottom: 10px;
  border-bottom: 2px solid #e2b339; }
#footerAnfahrt .linkFooter {
  color: #e2b339;
  font-size: 15px; }
#footerAnfahrt #mailtoLinkFooter {
  color: #e2b339; }
#footerAnfahrt #footercol2Container1 {
  margin-top: 18px; }
#footerAnfahrt #footercol3Container1 {
  margin-top: 15px; }

#footerAnfahrtMobile {
  height: auto; }
  #footerAnfahrtMobile h4 {
    color: #f8f8f8; }
  #footerAnfahrtMobile a {
    color: #f8f8f8; }
  #footerAnfahrtMobile a:hover {
    color: #e2b339;
    border: none;
    background-color: transparent; }
  #footerAnfahrtMobile p {
    line-height: 100%; }
  #footerAnfahrtMobile #nav-tabs {
    border-bottom: 2px solid #e2b339; }
    #footerAnfahrtMobile #nav-tabs a {
      border-radius: 0 0 0 0; }
  #footerAnfahrtMobile .tab-pane {
    padding-top: 15px; }
  #footerAnfahrtMobile .active a {
    background-color: #e2b339 !important;
    border: 2px solid #e2b339; }
  #footerAnfahrtMobile .active a:hover {
    color: #f8f8f8; }
  #footerAnfahrtMobile .active .linkFooter {
    background-color: transparent !important;
    border: none !important;
    color: #e2b339; }
  #footerAnfahrtMobile .linkFooter {
    background-color: transparent !important; }
  #footerAnfahrtMobile #mailtoLinkFooter {
    color: #e2b339;
    background-color: #222222 !important;
    border: none; }

#myGallery {
  height: 35vh;
  width: 100%;
  margin-top: 112px;
  overflow: hidden; }
  #myGallery a {
    margin-right: -3px; }

.galleryContainer {
  width: auto;
  white-space: nowrap;
  background-color: #222222; }
  .galleryContainer .gallery-item img {
    display: inline-block;
    width: auto;
    height: 35vh;
    margin-bottom: 4px;
    padding: 0; }

#titleImageHeuriger {
  display: none; }

.openingHours {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2b339;
  text-align: center; }
  .openingHours a {
    color: #e2b339; }
  .openingHours h1 {
    color: #e2b339;
    font-family: "Fjalla One", sans-serif; }
  .openingHours p {
    line-height: 100%;
    font-family: "Average", serif; }

#openHoursEnglish {
  margin-top: calc(112px + 20px); }

#containerNewsletter {
  margin-top: 112px;
  min-height: calc(100vh - 112px - 206.71px); }

#newsletterSubmit {
  background-color: #e2b339;
  color: black;
  border: none; }

#newsletterSubmit:hover {
  color: white; }

#contentNewsletter h1 {
  font-family: "Fjalla One", sans-serif; }
#contentNewsletter a {
  color: #e2b339;
  font-family: "Average", serif; }
#contentNewsletter p {
  margin-top: 20px;
  font-family: "Average", serif; }

.field-antiSpamField {
  display: none; }

.textContent {
  width: 100%;
  min-height: calc(100vh - 112px - 35vh - 206.71px);
  background-color: #f8f8f8;
  margin: 20px 0 20px 0; }
  .textContent h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #222222;
    font-family: "Fjalla One", sans-serif; }
  .textContent p {
    font-size: 16px;
    margin: 0;
    font-family: "Average", serif;
    color: #222222; }
  .textContent a {
    text-decoration: none;
    color: #e2b339; }
  .textContent a:hover {
    text-decoration: underline;
    color: #e2b339; }
  .textContent ul {
    margin-left: 15px; }

#textContentImpressum {
  margin-top: calc(112px + 20px);
  font-family: "Average", serif; }

.imageContainerEnglish {
  width: 100%;
  height: 220px;
  margin-bottom: 10px;
  background-image: url(../image/uploads/startseite/img_1531.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 10px; }

#imageEnglish1, #imageEnglish2 {
  margin-top: 0; }

#imageEnglish1 {
  background-image: url(../image/uploads/english/noegold.jpg); }

#imageEnglish2 {
  background-image: url(../image/uploads/english/topheurigensieger.jpg); }

#imageEnglish3 {
  background-image: url(../image/uploads/english/hagelkreuz.jpg); }

#imageEnglish4 {
  background-image: url(../image/uploads/english/rosenberg.jpg); }

#imageEnglish5 {
  background-image: url(../image/uploads/english/keller.jpg); }

#imageEnglish6 {
  background-image: url(../image/uploads/english/fuellanlage1.jpg); }

#imageEnglish7 {
  background-image: url(../image/uploads/english/mayers.jpg); }

#imageEnglish8 {
  background-image: url(../image/uploads/english/mayeringrid.jpg); }

#textContentEnglish {
  min-height: calc(100vh - 80px - 206.71px);
  font-family: "Average", serif; }
  #textContentEnglish h2 {
    font-family: "Average", serif;
    font-weight: bold; }

.textEditor {
  margin-top: 500px; }

.form-group {
  margin: 0 !important;
  padding: 0; }

/*# sourceMappingURL=index.css.map */
