// media queries
@media (min-width: 768px) and (max-width: 1000px) {
    .collapse {
        display: none !important;
    }
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    // startseite icon down
    .iconDown {
        height: 10vh;
        width: 10vh;
    }
    // ======================= Cards ======================== //
    .card {
        height: auto;
        margin: 0 auto 6vh auto;
        .cardImageContainer {
            //height: 34vh;
            padding-top: 66.66%;
        }
        .cardText {
            height: 34vh;
        }
    }
    // ======================= Partner Cards ======================== //
    .cardPartner {
        height: auto;
        overflow: auto;
        margin: 0 auto 6vh auto;
        .cardPartnerImage {
            height: auto;
            width: 100%;
            display: block;
        }
    }
    // ======================= Language Logos ======================== //
    #linkUk, #linkAustria {
        float: left;
    }

    #textContentEnglish {
        h1 {
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .colEnglish1 {
        padding: 0;
    }

    .colEnglish2 {
        padding: 0;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    // startseite icon down
    .iconDown {
        height: 7vh;
        width: 7vh;
    }
    // ======================= Cards ======================== //
    .card {
        height: auto;
        margin: 0 auto 4vh auto;
        .cardImageContainer {
            //height: 30vh;
            padding-top: 66.66%;
        }
        .cardText {
            height: 34vh;
        }
    }
    // ======================= Partner Cards ======================== //
    .cardPartner {
        height: auto;
        margin: 0 auto 4vh auto;
        .cardPartnerImage {
            height: auto;
            width: 50%;
            float: left;
            display: block;
        }
    }
    // ======================= Language Logos ======================== //
    #linkUk, #linkAustria {
        float: right;
    }

    //hide navbar-brand on tablets and higher
    .navbar-brand {
        display: none !important;
    }
    .footer {
        border-top: 2px solid $standardColorGold;
        h4 {
           font-size: 17px;
        }
        p a {
            font-size: 15px !important;
            line-height: 170%;
            margin: 0;
        }
    }
    #gmap0-map-canvas {
        width: 100% !important;
    }

    #textContentEnglish {
        h1 {
            font-size: 24px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        h2 {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    #imageEnglishPride2 {
        //background-image: url(../image/icon_facebook.png);
        background-size: cover;
        background-position: center;
        margin-top: 0;
    }

    .colEnglish1 {
        padding-left: 0;
        padding-right: 15px;
    }

    .colEnglish2 {
        padding-left: 15px;
        padding-right: 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .footer {
        h4 {
            font-size: 20px;
        }
        p, a {
            font-size: 16px !important;
            line-height: 180%;
            margin: 0;
        }
        #openingHoursEnglish p {
            font-size: 13px !important;
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* only for the navbar since the breakpoint got changed manually */
@media only screen and (min-width : 1000px) {

}
